<% include ../partials/header %>




            <div class="row">
                <h1>Guides Page</h1>

            </div>
            
              <div id="paypal-button"> </div>
            <div class="row">
            <h1> <br>
  <div class="grid-container">
      
      
      <% contact.forEach(function(contact) { %>
      
           <div class="item">     
                <div class="item">
                   <h1 class="itemtitle">Id: <%= contact.id %></h1>
                   <h1 class="itemp">Name: <%= contact.name %> </h1>
                    <h1 class="itemp">Email: <%= contact.email %> </h1>
                    <h1 class="itemp">Comment: <%= contact.Comment %> </h1>
                    <image class="pimage" src="/<%= contact.image %>"></image>
                         
<a href="/deletecontact/<%= contact.id %>" class="button">Delete Me!</a>
<a href="/editcontact/<%= contact.id %>" class="button">Edit Me!</a>
                    </div>
              </div>
              
              
             <% }); %> 
              
    
    </div>
  </h1>
</div>

<script>
    $(".pimage").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
</script>

            


<% include ../partials/footer %>
