<% include ../partials/header %>

<div class="row">
    <h1>Create a product with SQL and Node</h1>
    
    <div class="grid-container">
        
<% res1.forEach(function(product) {%>        
        <form accept-charset="UTF-8" action="/editsql/<%= product.Id %>" method="post">
            
            <div class="item">
                <label for="name">Name:</label>
                <input name="name" type="text" value="<%= product.Name %>" />
                
                <label for="price">Price:</label>
                <input name="price" type="text" value="<%= product.Price %>" /> 
                
                <label for="image">Image:</label>
                <input name="image" type="text" value="<%= product.Image %>" />  
                
                <label for="activity">Activity:</label>
                <input name="activity" type="text" value="<%= product.Activity %>" />                   
                
                <button class="button">Edit Product</button>
            </div>
            
            
            
        </form>
        
      <% }); %>  
    </div>
    
    
</div>




<% include ../partials/footer %>