<% include ../partials/header %>





            <div class="row">
                <h1>Contacts page</h1>

            </div>
            
            
            <div class="row">
            <h1>Welcome to the products page  <br>
  <div class="grid-container">
      
      
      <% res1.forEach(function(contact) { %>
      
           <div class="item">     
                <div class="item">
                   <h1 class="itemtitle">Price: <%= contact.Price %></h1>
                   <h1 class="itemp">Name: <%= contact.Name %> </h1>
                   <img src="/<%= contact.Image %>" class="pimage"></image>
                 
                    <h1 class="itemp">Activity: <%= contact.Activity %> </h1>

<a href="/deletesql/<%= contact.Id %>" class="button">Delete Me!</a>
<a href="/edit/<%= contact.Id %>" class="button">Edit Me!</a>


                    </div>
              </div>
              
              
             <% }); %> 
              
           
    </div>
  </h1>
</div>

<script>
    $(".pimage").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
</script>

 

<% include ../partials/footer %>